<div class="login-page">
  <div class="header"><span>Login</span></div>
  <form [formGroup]="loginForm">
    <div class="card-container">
      <div class="form__group field">
        <input
          [formControl]="loginForm.controls.username"
          type="input"
          autocomplete="off"
          class="form__field"
          placeholder="Username"
          name="username"
          id="username"
          required
        />
        <label for="name" class="form__label">Username</label>
      </div>
      <div class="form__group field">
        <input
          [type]="hide ? 'password' : 'text'"
          autocomplete="off"
          [formControl]="loginForm.controls.password"
          class="form__field"
          placeholder="Password"
          name="name"
          id="name"
          required
        />
        <div class="icon">
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </div>
        <label for="name" class="form__label">Password</label>
      </div>
      <div class="button-section">
        <button type="submit" (click)="login()">Log in</button>
        <a (click)="goToRegister()">Sign up</a>
      </div>
    </div>
  </form>
</div>
