// $primary: #050f0b;
// $secondary: #0e9060;
// $white: #fff;
// $accent: #09f69f;
.login-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > .header {
    font-weight: bold;
    font-size: 5rem;
    color: var(--accent);
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  > form {
    width: 100%;
    height: 50%;
    > .card-container {
      height: 50%;
      width: 100%;
      background-color: transparent;
      border-radius: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    > .button-section {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: column;
      height: 30%;
      width: 100%;
      > button {
        color: var(--secondary);
        background-color: var(--accent);
        border: none;
        border-radius: 30px;
        height: 60px;
        width: 30%;
        cursor: pointer;
      }
      > a {
        color: var(--accent);
        cursor: pointer;
      }
    }
  }
}

.form__group {
  margin-bottom: 30px;
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: end;
  > .icon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
    > button {
      position: absolute;
    }
  }
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--accent);
  outline: 0;
  font-size: 1.3rem;
  color: var(--white);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--accent);
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #6d5f7c;
    font-weight: 700;
  }
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-color: #6d5f7c;
  border-image-slice: 1;
}
/* reset input */
.form__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
mat-icon {
  color: #6d5f7c;
}
