.icon-selector {
  padding: 16px;
  border-radius: 8px;
  display: flex;
  background-color: #0e9060;
  > .icon-container {
    width: 60px;
    height: 60px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon-item {
      width: 100%;
      height: 100%;
      border-radius: 4px;
      padding: 0px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.2s;
    }
    .icon-item:hover {
      background-color: rgb(98, 246, 186);
    }
  }
}
