<button (click)="generateDays('previous')">Previous 7 Days</button>
<input
  type="date"
  [(ngModel)]="choosenDate"
  (ngModelChange)="generateDays('choose')"
/>
<button (click)="generateDays('next')">Next 7 Days</button>
<div class="calendar-container">
  <div class="header-container" *ngFor="let date of dates">
    <div class="header">
      {{ date.toLocaleDateString() }}
    </div>
    <div class="tasks-container">
      <div *ngFor="let task of getTasksForDate(date)" class="task-card">
        <div class="color" [ngStyle]="{ 'background-color': task.color }"></div>
        <div class="header">
          <span class="task-title">{{ task.title }}</span>
        </div>
        <div class="informations">
          <span class="task-description">{{ task.description }}</span>
          <span class="task-date">{{
            task.date.toString().substring(3, 11)
          }}</span>
        </div>
        <div class="footer">
          <span>{{ task.list }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
