<div class="calendar-header">
  <div class="title">Upcoming</div>
  <div class="button-container">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 -960 960 960"
      alt="previous"
      (click)="generateDays('previous')"
    >
      <path d="M560-280 360-480l200-200v400Z" />
    </svg>
    <input
      #dateInput
      type="date"
      class="date-selector"
      [(ngModel)]="chosenDate"
      (ngModelChange)="generateDays('choose')"
    />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 -960 960 960"
      alt="next"
      (click)="generateDays('next')"
    >
      <path d="M400-280v-400l200 200-200 200Z" />
    </svg>
  </div>
</div>
<div class="calendar-container">
  <div class="header-container" *ngFor="let date of dates">
    <div class="header">
      {{ date.toLocaleDateString() }}
    </div>
    <div class="tasks-container">
      <div *ngFor="let task of getTasksForDate(date)" class="task-card">
        <div class="color" [ngStyle]="{ 'background-color': task.color }"></div>
        <div class="header">
          <span class="task-title">{{ task.title }}</span>
        </div>
        <div class="informations">
          <span class="task-description">{{ task.description }}</span>
          <span class="task-date">{{
            task.date.toString().substring(3, 11)
          }}</span>
        </div>
        <div class="footer">
          <span>{{ task.list }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
