<div class="main">
  <div class="form-container">
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="side-container">
    <div class="text-container" *ngIf="isRouteActive('/authenticator/login')">
      <h1>Welcome back</h1>
      <p>
        We're excited to have you with us again. Whether you're here to tackle
        new tasks or wrap up ongoing projects, you've got this. We're here to
        help you stay focused and productive. Let’s make today a productive one!
      </p>
    </div>
    <div
      class="text-container"
      *ngIf="isRouteActive('/authenticator/register')"
    >
      <h1>Welcome to Todoist!</h1>
      <p>
        We’re excited to help you stay organized and achieve your goals. Whether
        you're managing daily tasks or planning long-term projects, you’re in
        the right place.
      </p>
    </div>
  </div>
</div>
