<div class="login-page">
  <div class="header"><span>Sign up</span></div>
  <form [formGroup]="registrationForm">
    <div class="card-container">
      <div class="form__group field">
        <input
          [formControl]="registrationForm.controls.username"
          type="input"
          autocomplete="off"
          class="form__field"
          placeholder="Username"
          name="username"
          id="username"
          required
        />
        <label for="username" class="form__label">Username</label>
      </div>
      <div class="form__group field">
        <input
          [formControl]="registrationForm.controls.email"
          type="input"
          autocomplete="off"
          class="form__field"
          placeholder="E-mail"
          name="email"
          id="email"
          required
        />
        <label for="email" class="form__label">E-mail</label>
      </div>
      <div class="form__group field">
        <input
          [type]="hide ? 'password' : 'text'"
          autocomplete="off"
          [formControl]="registrationForm.controls.password"
          class="form__field"
          placeholder="Password"
          name="password"
          id="password"
          required
        />
        <div class="icon">
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </div>
        <label for="password" class="form__label">Password</label>
      </div>
      <div class="form__group field">
        <input
          [type]="hide ? 'password' : 'text'"
          autocomplete="off"
          [formControl]="registrationForm.controls.confirmPassword"
          class="form__field"
          placeholder="Password"
          name="confirm_password"
          id="confirm_password"
          required
        />
        <div class="icon">
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </div>
        <label for="confirm_password" class="form__label"
          >Confirm Password</label
        >
      </div>
      <div class="button-section">
        <button type="submit" (click)="register()">Sign up</button>
        <a (click)="goToLogin()">Sign in</a>
      </div>
    </div>
  </form>
</div>
<!-- <div class="form__group field">
  <input
    type="input"
    class="form__field"
    placeholder="Name"
    name="name"
    id="name"
    required
  />
  <label for="name" class="form__label">Name</label>
</div> -->
