<div class="signup-page">
  <div class="header">Sign up</div>
  <form [formGroup]="registrationForm">
    <div class="card-container">
      <div class="username-container">
        <input
          placeholder="Username"
          [formControl]="registrationForm.controls.username"
          required
        />

        <input
          [formControl]="registrationForm.controls.email"
          placeholder="pat@example.com"
          (blur)="updateErrorMessage()"
        />
        <mat-error style="color: brown">{{ errorMessage }}</mat-error>
      </div>

      <div class="personal-details_container">
        <div class="inputs-container">
          <input
            placeholder="Name"
            [formControl]="registrationForm.controls.firstName"
          />
          <input
            placeholder="Last name"
            [formControl]="registrationForm.controls.lastName"
          />
        </div>
      </div>
      <div class="password-container">
        <input
          placeholder="Password"
          [type]="hide ? 'password' : 'text'"
          [formControl]="registrationForm.controls.password"
        />
        <div class="icon">
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </div>
      </div>
      <div class="password-container">
        <input
          placeholder="Password"
          [type]="hide ? 'password' : 'text'"
          [formControl]="registrationForm.controls.confirmPassword"
        />
        <div class="icon">
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </form>
  <div class="submit-button-container">
    <button
      type="submit"
      [disabled]="!registrationForm.valid"
      (click)="register()"
    >
      Create
    </button>
    <span (click)="goToLogin()">Log in</span>
  </div>
</div>
