/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Merienda:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Grandstander:ital,wght@0,100..900;1,100..900&family=Merienda:wght@300..900&display=swap");
:root {
  --primary-color: #007bff;
  --primary: #05100b;
  --secondary: #0e9060;
  --white: #e2d7c9;
  --accent: #4dba8e;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.custom-dialog {
  mat-dialog-container,
  .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: transparent;
  }
}
