/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Merienda:wght@300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Grandstander:ital,wght@0,100..900;1,100..900&family=Merienda:wght@300..900&display=swap");
@import "flatpickr/dist/flatpickr.min.css";

:root {
  --primary: #1d1921;
  --secondary: #151318;
  --white: #e2d7c9;
  --accent: #baa2d2;
  --border: #332a41;
}
body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #ffa7ed;
  --sb-size: 7px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 12px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 12px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.custom-dialog {
  mat-dialog-container,
  .mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: transparent;
  }
}
/* Flatpickr custom styles */
.flatpickr-calendar {
  background-color: var(--border);
  box-shadow: none;
  border-radius: 15px;
  .flatpickr-months {
    > .flatpickr-prev-month,
    .flatpickr-next-month {
      fill: var(--accent);
      &:hover svg {
        fill: var(--border);
      }
    }
    .flatpickr-month {
      border-radius: 15px 15px 0 0;
      background-color: var(--primary);
      color: var(--accent);
      > .flatpickr-current-month {
        > .flatpickr-monthDropdown-months {
          padding-right: 15px;
          text-align: center;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          outline: none;
          border: none;
          box-shadow: none;
          background: none;
          &:focus,
          :hover {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            border: none;
            box-shadow: none;
            background: none;
          }
          > option {
            background-color: var(--primary);
            text-align: center;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            border-radius: 0;
            &:hover,
            :select {
              color: #000000;
            }
          }
        }
        > .numInputWrapper > .arrowUp {
          fill: #baa2d2;
        }
      }
    }
  }

  .flatpickr-weekdays {
    background-color: var(--primary);
    color: var(--accent);
    .flatpickr-weekdaycontainer > span {
      color: #baa2d2;
    }
  }
  .flatpickr-days {
    .dayContainer {
      > .flatpickr-day.today {
        border-color: var(--accent);
      }
      > .flatpickr-day.selected {
        background-color: var(--secondary);
        border: none;
      }
      > .flatpickr-day {
        color: var(--accent);

        &:hover {
          background-color: var(--primary);
          border: none;
        }
        &.flatpickr-disabled:hover {
          background-color: inherit;
        }
        &.nextMonthDay:hover {
          color: var(--accent);
        }
      }
      > .prevMonthDay {
        color: var(--border);
      }
      > .nextMonthDay {
        color: var(--primary);
      }
      > .flatpickr-disabled {
        color: var(--secondary);
      }
    }
  }
}
