$primary: #05100b;
$secondary: #0e9060;
$white: #e2d7c9;
$accent: #4dba8e;
.main {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: var(--secondary);
  border: 30px;
  > .routing-container {
    > .header {
      display: flex;
      justify-content: start;
      align-items: end;
      height: 20%;
      width: 100%;
      font-size: 3rem;
      overflow: hidden;
      color: var(--accent);
      > span {
        margin-left: 40px;
      }
    }
    > .calendar-container {
      width: 75vw;
      overflow: auto;
    }
    > .tasks_container {
      overflow: auto;
      display: flex;
      height: 80%;
      > .task_card {
        height: 200px;
        width: 300px;
      }
    }
  }
}
