.main {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      627deg,
      rgba(94, 94, 94, 0.04) 0%,
      rgba(94, 94, 94, 0.04) 48%,
      rgba(220, 220, 220, 0.04) 48%,
      rgba(220, 220, 220, 0.04) 100%
    ),
    linear-gradient(
      589deg,
      rgba(232, 232, 232, 0.04) 0%,
      rgba(232, 232, 232, 0.04) 9%,
      rgba(135, 135, 135, 0.04) 9%,
      rgba(135, 135, 135, 0.04) 100%
    ),
    linear-gradient(
      345deg,
      rgba(26, 26, 26, 0.04) 0%,
      rgba(26, 26, 26, 0.04) 47%,
      rgba(147, 147, 147, 0.04) 47%,
      rgba(147, 147, 147, 0.04) 100%
    ),
    linear-gradient(
      527deg,
      rgba(235, 235, 235, 0.04) 0%,
      rgba(235, 235, 235, 0.04) 68%,
      rgba(184, 184, 184, 0.04) 68%,
      rgba(184, 184, 184, 0.04) 100%
    ),
    linear-gradient(411deg, rgb(244, 71, 207), rgb(255, 119, 119));
  > .header {
    width: 100vw;
    height: 8vh;
    min-height: 80px;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: end;
    > span {
      color: #f9c8da;
      text-shadow: 0px 0px 10px rgba(78, 35, 67, 1);
      font-weight: 900;
      font-size: 3vw;
      margin-right: 1%;
      -webkit-user-select: none; /* Safari */
      -ms-user-select: none; /* IE 10 and IE 11 */
      user-select: none; /* Standard syntax */
      cursor: default;
    }
    > svg {
      cursor: pointer;
      height: 60%;
      width: auto;
      margin-right: 3%;
      filter: drop-shadow(0px 0px 10px rgba(78, 35, 67, 1));
      transition: 0.3s;
    }
    > svg:hover {
      transform: scale(108%);
    }
    > svg:active {
      transform: scale(112%);
    }
  }
}
