<div class="dialog-container">
  <form [formGroup]="listForm">
    <div class="form-container">
      <div class="form__group field">
        <input
          [formControl]="listForm.controls.title"
          type="input"
          autocomplete="off"
          class="form__field"
          placeholder="title"
          name="title"
          id="title"
        />
        <label
          *ngIf="listForm.controls.title.invalid"
          for="title"
          class="form__label"
          >Title is required</label
        >
        <label for="title" class="form__label">Title</label>
      </div>
      <div class="form__group field">
        <input
          [formControl]="listForm.controls.description"
          autocomplete="off"
          class="form__field"
          placeholder="description"
          name="description"
          id="description"
        />
        <label for="description" class="form__label">Description</label>
      </div>
    </div>
  </form>
  <div class="button-section">
    <input
      type="color"
      id="color"
      class="selectors"
      [formControl]="listForm.controls.color"
    />
    <button class="selectors" (click)="openIconPicker()">
      <div class="icon" [innerHTML]="defultIcon?.content | safe : 'html'"></div>
    </button>
    
  </div>
  <div class="submit_btn_container">
    <button type="button" (click)="submitData()" class="submit_btn">
      Create
    </button>
  </div>
</div>
