<div class="dialog-container">
  <form [formGroup]="listForm">
    <div class="form-container">
      <div class="form__group field">
        <input
          [formControl]="listForm.controls.title"
          type="input"
          autocomplete="off"
          class="form__field"
          placeholder="title"
          name="title"
          id="title"
        />
        <label
          *ngIf="listForm.controls.title.invalid"
          for="title"
          class="form__label"
          >Title is required</label
        >
        <label for="title" class="form__label">Title</label>
      </div>
      <div class="form__group field">
        <input
          [formControl]="listForm.controls.description"
          autocomplete="off"
          class="form__field"
          placeholder="description"
          name="description"
          id="description"
        />
        <label for="description" class="form__label">Description</label>
      </div>
    </div>
  </form>
  <div class="button-section">
    <div class="form__group field">
      <input type="color" id="color" />
      <label for="color">Choose color</label>
    </div>
    <button type="button" (click)="submitData()">Create a list</button>
  </div>
</div>
